<div class="footer-container">
  <div class="footer-content">
    <div class="brand">
      <%= link_to root_path do %>
        <%= image_tag('Logo.png', class: 'logo-image') %>
      <% end %>
    </div>
    <div class="socialnetwork">
      <a href=""><i class="fab fa-facebook"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-menu">

    </div>
    <div class="footer-action">

    </div>
  </div>
</div>
