.subscriber-container{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscriber-content{
  background-color: white;
  padding: 80px 60px;


  display: flex;
  flex-direction: column;
}
h1{
  font-family: $body-font;
  font-weight: 500;
  font-size: 27px;
  margin-bottom: 60px;
  span{
    color: $green;
  }
}
input{
  font-family: $body-font;
  outline: none;
}
input[type=text]{
  width: 120px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
  box-shadow: 0 0 1px #D5D5D5;
}
input[type=email]{
  width: 280px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
  box-shadow: 0 0 1px #D5D5D5;
}
input[type=submit]{
  background-color: $green;
  padding: 11px 30px;
  text-align: center;
  padding-bottom: 13px;
  border-radius: 5px;
  border: 1px solid $green;
  font-size: 15px;
  font-weight: 500;
  color: $black;
  box-shadow: 0 0 1px $green;
  &:hover{
    color: white;
  }
}
p{
  font-family: $nav-menu-font;
  font-size: 15px;
  span{
    color: $green
  }
}
.cookies{
  display: flex;
  flex-direction: column;
}
.cookies p{
  font-size: 20px;
  font-family: $nav-menu-font;
}
.subscribing-form p{
  font-size: 20px;
  font-family: $nav-menu-font;
}
.subscriber-content a{
  position: absolute;
  top: 0;
  right: 50px;
  background-color: $black;
  color: white;
  width: 105px;
  padding: 5px;
  border-radius: 3px;
  margin-top: 25px;
  text-decoration: none;
  font-family:$body-font;
  font-weight: 400;
}
.mobile-paragraph{
  display: none;
}
@media (max-width: 500px) {
  // .form p{
  //   text-align: left;
  //   font-size: 11px;
  //   font-family: $nav-menu-font
  // }
  .subscribing-form input[type=text]{
    width: 304px;
    padding: 10px;
    margin-bottom: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;

  }
  .subscribing-form input[type=email]{
    width: 304px;
    padding: 10px;
    margin-bottom: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .subscribing-form input[type=submit]{
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .subscribing-form p{
    text-align: left;
  }
  .website-paragraph{
    display: none;
  }
  .mobile-paragraph{
    display: inline;
  }
  .cookies p{
    text-align: center;
    font-size: 14px;
    font-family: $nav-menu-font;
  }
}
@media (max-width: 350px){
  .subscribing-form{
    margin: 0 20px;
  }
  .subscribing-form input[type=text]{
    width: 280px;
    padding: 10px;
    margin-bottom: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;

  }
  .subscribing-form input[type=email]{
    width: 280px;
    padding: 10px;
    margin-bottom: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .subscribing-form input[type=submit]{
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .subscribing-form p{
    text-align: left;
  }
  .website-paragraph{
    display: none;
  }
  .mobile-paragraph{
    display: inline;
  }
  .cookies p{
    text-align: center;
    font-size: 13px;
    font-family: $nav-menu-font;
  }
}









